@import '~html5-reset/assets/css/reset.css'

controls_width = 30%
controls_background = #e0ecf3
button_size = 25px
border_radius = 5px
small_margin = 10px
h_space = 5px
nodetype_border = 3px dashed #aaa
body_color = #333
heading_color = #aaa
input_border = 1px solid #ccc
ui_color = #425882
handle_size = 12px
handle_color = ui_color
disruption_size = 20px

body
  color body_color

h1, h2, label
  font-family sans-serif

a
  color ui_color

minor_nodetype()
  height 25%

ui_button()
  display block
  width button_size
  height button_size
  text-decoration none
  line-height button_size * 0.9
  z-index 100
  font-size button_size
  border-radius border_radius
  background controls_background

#display
  position absolute
  &.connecting
    cursor -webkit-grabbing
#controls
  position absolute
  right 0
  height 100%
  background controls_background
.label-tip
  margin-left h_space
  color #999
  text-transform none
.controls-shown
  #display
    width 100% - controls_width
  #controls
    width controls_width
.controls-hidden
  #display
    width 100%
  #controls
    width 0
#graph-controls
  position absolute
  width 100%
  bottom 0
.controls-section
  padding button_size
.controls-heading
  margin 0 0 small_margin
  font-size 1em
  text-transform uppercase
  color #425882
  border-bottom 1px solid #bbb
.controls-label
  text-transform uppercase
  font-size 0.7em
  margin-bottom 2px
  display block  
input[type="text"].controls-input
textarea.controls-input
    border input_border
    padding 2px 3px 1px
.controls-input
.controls-buttons
  display block
  margin-bottom small_margin
  width 100%
  color body_color
.controls-buttons button
  margin-right h_space
  font-size 0.8em
  text-transform uppercase
  border-radius border_radius
  background #fde6d9
  border input_border
  color body_color
.controls-radio
  display inline-block
  margin-right small_margin
  input
    margin-right h_space
    vertical-align baseline
  
#swatches
  display inline-block
.swatch
  display inline-block
  border 1px solid #999
  width 1.2em
  height 1.2em
  margin-right h_space
  &.selected
    border-color red

#graph-title
  position absolute
  text-align center
  width 100%
  font-size 1.5em
  padding small_margin
  z-index 100
  color heading_color
  font-weight bold

#background
  height 100%
  width 100%
  position absolute
.nodetype
  position relative
#environment
  minor_nodetype()
  border-bottom nodetype_border
#chain
  height 50%
  background white
#infrastructure
  minor_nodetype()
  border-top nodetype_border
.nodetype-title
  position absolute
  color heading_color
  text-transform uppercase
  font-size 0.8em
  bottom small_margin
  left small_margin * 2 + button_size
.add
  ui_button()
  position absolute
  bottom small_margin
  left small_margin
  text-align center

#graph
  width 100%
  height 100%
.grabbed
  cursor move

.overlay, #edge-line
  position absolute
  top 0
  left 0
  width 100%
  height 100%
.handle
  width handle_size
  height handle_size
  background handle_color
  z-index 100
  position absolute
  margin-top -(handle_size / 2)px
  margin-left -(handle_size / 2)px
  cursor -webkit-grab
#edge-line line
  stroke handle_color
  stroke-width 3
  stroke-dasharray 8,4
.disruption
  position absolute
  font-family sans-serif
  font-size disruption_size
  line-height disruption_size
  width disruption_size
  height disruption_size
  text-align center
  color red
  z-index 100

#toggle-controls
  ui_button()
  position absolute
  left button_size * -1
  padding-left (button_size / 3.5)
  background controls_background
  border-radius border_radius 0 0 border_radius
