@import '~html5-reset/assets/css/reset.css'

controls_width = 30%
controls_background = #333
button_size = 25px
border_radius = 5px
h_space = 5px
nodetype_border = 3px dashed #aaa
body_color = #333
heading_color = #aaa
ui_color = #425882
handle_size = 12px
handle_color = ui_color
disruption_size = 20px

header_bar_height = 40px

header_fonts = Futura, 'Trebuchet MS', Arial, sans-serif;
body_fonts = 'Helvetica Neue', Helvetica, Arial, sans-serif

$emma-green = #008080
$emma-green-dark = #006666
$emma-magenta = #660033

html, body
  height: 100%

*, *:before, *:after
  box-sizing: border-box

body
  color body_color
  font-family: body_fonts

input, button
  font-family: body_fonts

a
  color ui_color

minor_nodetype()
  height 25%

ui_button()
  display block
  width button_size
  height button_size
  text-decoration none
  line-height button_size * 0.9
  z-index 100
  font-size button_size
  border-radius border_radius
  background controls_background


h1, h2, h3, h4, h5
  font-family: header_fonts

#main-wrapper
  width 100%
  height 100%
  overflow hidden

#header-bar
  height: header_bar_height
  line-height: header_bar_height
  padding-left:15px
  background: $emma-green
  color: white
  h1
    font-size: 18px

#display
  position absolute
  top: header_bar_height
  bottom: 0px
  -webkit-user-select: none
  cursor: default
  &.connecting
    cursor -webkit-grabbing

#controls
  position absolute
  right 0
  top header_bar_height
  bottom 0

.controls-shown
  #display
    width 100% - controls_width
  #controls
    width controls_width
.controls-hidden
  #display
    width 100%
  #controls
    width 0
#graph-controls
  position absolute
  width 100%
  bottom 0



// Property panel

#background
  height 100%
  width 100%
  position absolute
.nodetype
  position relative
#environment
  minor_nodetype()
  border-bottom nodetype_border
#chain
  height 50%
  background white
#infrastructure
  minor_nodetype()
  border-top nodetype_border

#graph
  width 100%
  height 100%
.grabbed
  cursor move

.overlay, #edge-line
  position absolute
  top 0
  left 0
  width 100%
  height 100%
.handle
  width handle_size
  height handle_size
  background handle_color
  z-index 100
  position absolute
  margin-top -(handle_size / 2)px
  margin-left -(handle_size / 2)px
  cursor -webkit-grab
#edge-line line
  stroke handle_color
  stroke-width 3
  stroke-dasharray 8,4
.disruption
  position absolute
  font-size disruption_size
  font-weight bold
  line-height disruption_size
  width disruption_size
  height disruption_size
  text-align center
  color red
  z-index 100

#toggle-controls
  ui_button()
  position absolute
  left button_size * -1
  padding-left (button_size / 3.5)
  background controls_background
  border-radius border_radius 0 0 border_radius


// splash page
#splash
  position fixed
  width 100%
  height 100%
  background $emma-green
  z-index 100000
  text-align center
  color white
  padding-top 10vh

  h1
    font-size 26px
    margin-bottom 1em
  p
    max-width: 600px
    margin 20px
    margin 0 auto
    a
      color #80DEEA

  .splash-small-p
    font-size 12px
    line-height 1.4em
    margin 2em auto
    color #E0F2F1
  .button
    width 300px
    margin-bottom 1em


  .splash-logos img
    max-height 140px
    margin 0 10px


#file-option-continue
  // width 300px
  display inline-block
  padding 30px
  background #00695C
  vertical-align top

#file-options-other
  display inline-block
  padding 30px
  vertical-align top

.existing-project-info
  font-style italic
  font-size 13px
  b
    font-weight bold

@import './forms.styl'
@import './graph-overlays.styl'
