@import '~html5-reset/assets/css/reset.css'

controls_width = 30%
controls_background = #333
button_size = 25px
border_radius = 5px
h_space = 5px
nodetype_border = 3px dashed #aaa
body_color = #333
heading_color = #aaa
ui_color = #425882
handle_size = 12px
handle_color = ui_color
disruption_size = 20px

header_bar_height = 36px

header_fonts = Futura, 'Trebuchet MS', Arial, sans-serif;
body_fonts = 'Helvetica Neue', Helvetica, Arial, sans-serif

$emma-green = #008080
$emma-green-dark = #006666
$emma-magenta = #660033

html, body
  height: 100%

*, *:before, *:after
  box-sizing: border-box

body
  color body_color
  font-family: body_fonts

input, button
  font-family: body_fonts

a
  color ui_color

minor_nodetype()
  height 25%

ui_button()
  display block
  width button_size
  height button_size
  text-decoration none
  line-height button_size * 0.9
  z-index 100
  font-size button_size
  border-radius border_radius
  background controls_background


h1, h2, h3, h4, h5
  font-family: header_fonts

#main-wrapper
  width 100%
  height 100%
  overflow hidden

#header-bar
  height: header_bar_height
  line-height: header_bar_height
  padding-left 15px
  background: $emma-green
  color: white
  h1
    font-size: 15px

#display
  position absolute
  top: header_bar_height
  right: 0
  bottom: 0px
  -webkit-user-select: none
  cursor default
  border 3px solid #004D40
  &.connecting
    cursor -webkit-grabbing

#controls
  position absolute
  left 0
  top header_bar_height
  bottom 0

.controls-shown
  #display
    width 100% - controls_width
  #controls
    width controls_width
.controls-hidden
  #display
    width 100%
  #controls
    width 0
#graph-controls
  position absolute
  width 100%
  bottom 0


// Property panel

#background
  height 100%
  width 100%
  position absolute
.nodetype
  position relative
#environment
  minor_nodetype()
  border-bottom nodetype_border
#chain
  height 50%
  background white
#infrastructure
  minor_nodetype()
  border-top nodetype_border

#graph
  width 100%
  height 100%
.grabbed
  cursor move


#toggle-controls
  ui_button()
  position absolute
  left button_size * -1
  padding-left (button_size / 3.5)
  background controls_background
  border-radius border_radius 0 0 border_radius



.about-footer
  position absolute
  bottom 15px
  right 15px

  color white
  a
    color white
    font-style italic
    font-size 13px
    color #FFF176

  .logos
    img
      max-height 60px
      margin-left 10px

@import './notes.styl'
@import './forms.styl'
@import './graph-overlays.styl'
@import './splash.styl'
