node_padding = 20
max_label_width = 150
selected_color = #f00

node
  width label
  height label
  background-color white
  border-width 1px
  border-color #666
  color #333
  content data(name)
  text-valign center
  text-halign center
  text-wrap wrap
  text-max-width max_label_width
  padding-top node_padding
  padding-right node_padding
  padding-bottom node_padding
  padding-left node_padding
  &.parent
    background-opacity 0
    border-width 0
  &.environment
    shape ellipse
  &.chain
    shape roundrectangle
    &.initial, &.final
      shape rectangle
  &.infrastructure
    shape octagon
  // &.partial
  //   background-color #F6E035
  // &.major
  //   background-color #F69A54
  // &.critical
  //   background-color #F6615F
  // &.hover
  //   border-color #F99
  &:selected
    border-color selected_color

edge
  line-color gray
  target-arrow-color gray
  &.chain
    width 4px
    target-arrow-shape triangle
  &.infrastructure
    width 1px
    target-arrow-shape circle
  &:selected
    line-color selected_color
    target-arrow-color selected_color
