small_margin = 10px
title_color = #37474F

#graph-header
  position absolute
  width 100%
  padding small_margin
  z-index 100

#graph-title, .section-title
  letter-spacing 1px

#graph-title
  font-size 21px
  color title_color
  font-weight bold
  display inline-block
  margin-right small_margin

#state-toggle
  display block
  float right

  .state-toggle-item
    display inline-block
    padding-left 1.6em
    opacity .2
    text-transform uppercase
    font-size 14px
    color $emma-magenta
    cursor pointer
    &:hover
      opacity .5
    &.is-active
      opacity 1 !important
      text-decoration underline

.section-title
  position absolute
  color #78909C
  text-transform uppercase
  font-size 11px
  bottom small_margin
  left small_margin


.overlay, #edge-line
  position absolute
  top 0
  left 0
  width 100%
  height 100%
.handle
  width handle_size
  height handle_size
  background handle_color
  z-index 100
  position absolute
  margin-top -(handle_size / 2)px
  margin-left -(handle_size / 2)px
  cursor -webkit-grab
#edge-line line
  stroke handle_color
  stroke-width 3
  stroke-dasharray 8,4
.disruption
  position absolute
  font-size disruption_size
  font-weight bold
  line-height disruption_size
  width disruption_size
  height disruption_size
  text-align center
  color red
  z-index 100
