node-padding = 20
max-label-width = 150

node
  width label
  height label
  background-color white
  border-width 1px
  border-color black
  content data(label)
  text-valign center
  text-halign center
  text-wrap wrap
  text-max-width max-label-width
  padding-top node-padding
  padding-right node-padding
  padding-bottom node-padding
  padding-left node-padding
  &.parent
    background-opacity 0
    border-width 0
  &.environment
    shape ellipse
  &.chain
    shape roundrectangle
    &.initial, &.final
      shape rectangle
  &.infrastructure
    shape octagon
  &.partial
    background-color #F6E035
  &.major
    background-color #F69A54
  &.critical
    background-color #F6615F
  // &.hover
  //   border-color #F66
  &:selected
    border-color #F00

edge
  line-color gray
  target-arrow-color gray
  &.chain
    width 4px
    target-arrow-shape triangle
  &.infrastructure
    width 1px
    target-arrow-shape circle
