// This is a special css file + format used by cytoscape
// - see http://js.cytoscape.org/#style

max_label_width = 150
selected_color = blue
inactive_opacity = 0.4

core
  active-bg-color white
  active-bg-opacity 0

node
edge
  color #333
  content data(label)
  text-wrap wrap
  overlay-color white
  overlay-opacity 0
  &.inactive
    opacity inactive_opacity

node
  width label
  height label
  background-color white
  border-width 1px
  border-color #666
  text-valign center
  text-halign center
  text-max-width max_label_width
  padding-top 15px
  padding-bottom 15px
  padding-right 20px
  padding-left 20px
  font-size 13px
  &.parent
    background-opacity 0
    border-width 0
  &.environment
    shape ellipse
  &.chain
    shape roundrectangle
    &.initial, &.final
      shape rectangle
  &.infrastructure
    shape octagon

edge
  line-color gray
  target-arrow-color gray
  text-background-color white
  text-background-opacity 1
  text-background-shape roundrectangle
  text-valign bottom
  &.chain
    target-arrow-shape triangle
  &.infrastructure
    target-arrow-shape circle


node:selected, edge:selected
  border-color #660033
  line-color #660033
  target-arrow-color #660033
  border-width 2px