#legend
  position absolute
  bottom 0
  right 0
  width 15%
  background #ddd
  font-size 0.7em
  padding 0.5em 0.7em
  tr
    line-height 1.1em

.legend-disruption
  font-weight bold
  color red
  text-align center

.legend-swatch
  width 0.9em
  height 0.9em
  border 1px solid #666
