$selected-color = #660033

#legend
  position absolute
  bottom 0
  right 0
  width 15%
  background #eee
  border-top 1px solid #aaa
  border-left 1px solid #aaa
  font-size 0.7em
  padding 0.5em 0.7em
  tr
    line-height 1.1em
  &.selected
    border-color $selected-color
    border-width 2px
    right 1px

.legend-disruption
  font-weight bold
  color red
  text-align center

.legend-swatch
  vertical-align middle
  div
    width 0.9em
    height 0.9em
    border 1px solid #666

.legend-label
  padding-left 0.3em
