
// splash page
#splash
  position fixed
  width 100%
  height 100%
  background $emma-green
  z-index 100000
  text-align center

  padding-top 5vh
  color #E0F2F1

  h1, h2, h3
    color white

  h1
    font-size 26px
  .subtitle
    font-size 13px
    font-style italic


  p
    max-width: 700px
    margin 20px
    margin 0 auto
    a
      color #80DEEA

  .splash-small-p
    font-size 12px
    line-height 1.4em
    margin 1em auto
    color #E0F2F1
  .button
    width 300px
    margin-bottom 1em


  .splash-logos
    margin 1em auto
    img
      max-height 15vh
      margin 0 10px

#splash-file-options
  margin 1.5em auto

#file-option-continue, #file-options-other
  // width 300px
  display inline-block
  padding 30px
  margin 15px
  background #26A69A
  vertical-align top

.existing-project-info
  font-style italic
  font-size 13px
  b
    font-weight bold
