@import '~html5-reset/assets/css/reset.css'

minor_section()
  height 25%
  background #DDD

#background
  height 100%
  width 100%
  position absolute
#environment
  minor_section()
#chain
  height 50%
  background white
#infrastructure
  minor_section()

#graph
  width 100%
  height 100%
