html
  font-size 16px
  font-family sans-serif  

#environment, #chain, #infrastructure
  display flex
  justify-content space-around
  align-items center
  height 33%

.node
  border 1px solid black
  border-radius 50%
  padding 1.5rem
